<!-- Single slot-->
<h1>Single slot content projection</h1>

<simple>
    <h3>Hello world </h3>
</simple>





<!-- Multi Slot  -->

<h1>Multi slot content projection</h1>
 <simple>
  <card-header>
    <img class="card-img-top" src="https://www.w3schools.com/howto/img_avatar2.png" >

  </card-header>

  <card-body>
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make  card's content.
    </p>

  </card-body>

  <card-footer>
    <button class="btn btn-primary"> Send</button>
    <button class="btn btn-primary ml-3"> Delete</button>
  </card-footer>

</simple> 












