
<!-- single slot -->
<div class="card">
    <ng-content></ng-content>
</div>


<!-- Multi slot -->
<div class="card">
    <div>
        <div class="card-header">
            <ng-content select="card-header"></ng-content>
        </div>
    </div>
    <div>
        <div class="card-body">
            <ng-content select="card-body"></ng-content>
        </div>
    </div>
    <div>
        <div class="card-body">
            <ng-content select="card-footer"></ng-content>
        </div>
    </div>

</div>
